
.scroller {
    height: 100vh;
    background-color: #222222;
}

.orange-1 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../images/spaceship-4828098_1920.jpg");
}

.text-1 {
    color: #fff;
    font-size: 100px;
}

.black-1 {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    background-color: #2222;
}

.blue-1 {
    height: 100vh;
    background-color: #222222;
}


.text-wrap {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 80vh;
}

.panel-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    text-align:center;
    background-color: #222;
    transform:translateY(100%);
    opacity: 0;
}

.panel-text.blue-text {
    color: blue;
}

.panel-text.red-text {
    color: red;
}

.panel-text.purple-text {
    color: purple;
}

.panel-text.orange-text {
    color: orange;
}


.p-wrap {
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 80vh;
    border-radius: 6px;
}

.panel-panel {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url("../images/8-81342_custom-cursor-128x128-pixels-hd-png-download.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-panel._2 {
    z-index: 1;
    background-image: url("../images/lubo-minar-B-gb_8fgmz8-unsplash.jpg");
}

.panel-panel.blue-1 {
    z-index: auto;
    background-image: url("../images/moon.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-panel.red-1 {
    z-index: auto;
    background-image: url("../images/lubo-minar-B-gb_8fgmz8-unsplash.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-panel.orange-1 {
    z-index: auto;
    background-image: url("../images/spaceship-4828098_1920.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.panel-panel.purple-1 {
    z-index: auto;
    background-image: url("../images/8-81342_custom-cursor-128x128-pixels-hd-png-download.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
